= form_for @setting do |f|
  -if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :site_name
    = f.text_field :site_name
  .field
    = f.label :site_title
    = f.text_field :site_title
  .field
    = f.label :site_tagline
    = f.text_field :site_tagline
  .field
    = f.label :site_description
    = f.text_field :site_description
  .field
    = f.label :site_keywords
    = f.text_field :site_keywords
  .field
    = f.label :site_image_url
    = f.text_field :site_image_url
  .field
    = f.label :domain
    = f.text_field :domain
  .field
    = f.label :articles_directory
    = f.text_field :articles_directory
  .field
    = f.label :offerpages_directory
    = f.text_field :offerpages_directory
  .field
    = f.label :sidebar
    = f.text_area :sidebar
  .field
    = f.label :about
    = f.text_area :about
  .field
    = f.label :google_analytics_id
    = f.text_field :google_analytics_id
  .field
    = f.label :twitter_account
    = f.text_field :twitter_account
  .field
    = f.label :facebook_admin_id
    = f.text_field :facebook_admin_id
  .actions
    = f.submit 'Save'
