%p
  %b Site Name:
  = @setting.site_name
%p
  %b Domain:
  = @setting.domain
%p
  %b Site title:
  = @setting.site_title
%p
  %b Tagline:
  = @setting.site_tagline
%p
  %b Site description:
  = @setting.site_description
%p
  %b Site keywords:
  = @setting.site_keywords
%p
  %b Articles directory:
  = @setting.articles_directory
%p
  %b Offer Pages directory:
  = @setting.offerpages_directory
%p
  %b Twitter account:
  = @setting.twitter_account
%p
  %b Article sidebar:
  = @setting.sidebar
    
= link_to 'Edit', edit_setting_path(@setting)
\|
= link_to 'Back', settings_path
